:root {
  color: whitesmoke; }

* {
  transform-style: preserve-3d; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0;
  background: transparent; }

body {
  background: #121212;
  height: 200vh; }

footer div {
  z-index: 999;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 22%;
  height: 70px;
  position: fixed;
  bottom: 10px;
  left: 36%;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer div img {
    border-radius: 32px;
    /**/ }
  footer div small {
    color: #6a6a6a;
    margin-left: 7px;
    transition: .2s; }
    footer div small:hover {
      color: #7f7f7f;
      cursor: default;
      transition: .2s; }

main {
  height: 300%; }

.square {
  perspective: 1000px;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  width: 100%; }
  .square > * {
    position: absolute;
    top: 50%;
    left: 50%; }

.l0 {
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges; }

.l1 {
  transform: translateZ(-10px) translateX(-50%) translateY(-50%);
  z-index: 998;
  filter: brightness(2) hue-rotate(15deg); }

.l2 {
  transform: translateZ(-20px) translateX(-50%) translateY(-50%);
  z-index: 997;
  filter: blur(3px) brightness(2); }

.l3 {
  z-index: 996;
  transform: translateZ(-30px) translateX(-50%) translateY(-50%);
  filter: blur(6px) contrast(0) brightness(0.3); }

.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100;
  width: 100;
  z-index: 1000;
  background-color: red; }
  .mobile > * {
    display: none; }
